[package]
name = "loader"
version = "0.1.0"
edition = "2024"

[[bin]]
name = "loader"
path = "src/main.rs"

[dependencies]
log = "0.4.28"
uefi = { version = "0.36", features = ["panic_handler", "logger", "alloc", "global_allocator"] }
